{# Initalisation de variable #}
{% set currentPath = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Titre de la page{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {# https://fontawesome.bootstrapcheatsheets.com #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <div class="container">
            <p><img src="{{ asset('images/symfony-5-logo.png') }}" alt="Logo symfony 5" id="logo"></p>
        </div>
        <div class="container-fluid bg-light">
            {% block nav %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% for name, path in page_list %}
                               {% if path is iterable %}
                                   <li class="nav-item dropdown">
                                       <a class="nav-link dropdown-toggle{{ (currentPath in path) ? ' active'}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">{{ name }}</a>
                                       <div class="dropdown-menu">
                                           {% for subname, subpath in path %}
                                               <a class="dropdown-item" href="{{ path(subpath) }}">{{ subname }}</a>
                                           {% endfor %}
                                       </div>
                                   </li>
                               {# https://symfony.com/doc/current/cmf/bundles/core/templating.html #}
                               {# https://symfony.com/doc/3.4/templating/app_variable.html #}
                               {% elseif path is same as(app.request.attributes.get('_route')) %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">{{ name }}</a>
                                    </li>
                               {% else %}
                                   <li class="nav-item">
                                       <a class="nav-link" href="{{ path(path) }}">{{ name }}</a>
                                   </li>
                               {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {# Affichage des messages de notification #}
    {% block flash_message %}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice alert alert-primary" role="alert">{{ message }}</div>
        {% endfor %}
    {% endblock %}
</header>

<main class="container mt-4 mb-5">
    {% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            {# Gestion de la page d'accueil #}
            {% if path_list[0][0] is same as(currentPath) %}
                <li class="breadcrumb-item active">{{ path_list[0][1] }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path(path_list[0][0]) }}">{{ path_list[0][1] }}</a></li>
            {% endif %}
            {# Gestion de la page courante #}
            {# Titre du menu déroulant #}
            {% for key, value in page_list %}
                {% if value is iterable and currentPath in value %}
                    <li class="breadcrumb-item active">{{ key }}</li>
                {% endif %}
            {% endfor %}
            {# Titre de la rubrique du menu #}
            {% for index, path in path_list %}
                {% if path[0] is same as(currentPath) and index > 0 %}
                    <li class="breadcrumb-item active">{{ path[1] }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% endblock %}
    {% block main %}
        {# Page content here #}
    {% endblock %}
    {% block pagination %}
        <nav class="mt-5">
            <ul class="pagination justify-content-center">
                {% for index, path in path_list %}
                    {% if path[0] is same as(currentPath) %}
                        {% if (index - 1) >= 0 %}
                            <li class="page-item"><a class="page-link" href="{{ path(path_list[index - 1][0]) }}">Précédent</a></li>
                        {% endif %}
                        {% if (index + 1) < path_list|length %}
                            <li class="page-item"><a class="page-link" href="{{ path(path_list[index + 1][0]) }}">Suivant</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endblock %}
</main>

<footer>
    {% block footer %}
        <div class="container">
            <p>Copyright © {{ "now"|date("Y") }} Guillaume HÉNAUD</p>
        </div>
    {% endblock %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>