{# Initalisation de variable #}
{# https://symfony.com/doc/current/cmf/bundles/core/templating.html #}
{# https://symfony.com/doc/3.4/templating/app_variable.html #}
{% set currentRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Titre de la page{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {# https://fontawesome.bootstrapcheatsheets.com #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <div class="container">
            <p><img src="{{ asset('images/symfony-5-logo.png') }}" alt="Logo symfony 5" id="logo"></p>
        </div>
        <div class="container-fluid bg-light">
            {% block nav %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <h6 class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% for name, route in page_list %}
                               {# Si on a affaire à un sous-menu #}
                               {% if route is iterable %}
                                   <li class="nav-item dropdown">
                                       {# Si le nom de la route courante correspond à l'une des routes du sous-menu, le sous menu est actif #}
                                       <a class="nav-link dropdown-toggle{{ (currentRoute in route) ? ' active'}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">{{ name }}</a>
                                       <div class="dropdown-menu">
                                           {# On liste les rubriques du sous-menu #}
                                           {% for subname, subroute in route %}
                                                <a class="dropdown-item" href="{{ path(subroute) }}">{{ subname }}</a>
                                           {% endfor %}
                                       </div>
                                   </li>
                               {# On quitte le contexte du sous-menu #}
                               {# Si on a affaire à la rubrique courante, celle-ci est active #}
                               {% elseif route is same as(currentRoute) %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">{{ name }}</a>
                                    </li>
                               {# Sinon on le traite le rubrique de manière standard #}
                               {% else %}
                                   <li class="nav-item">
                                       <a class="nav-link" href="{{ path(route) }}">{{ name }}</a>
                                   </li>
                               {% endif %}
                            {% endfor %}
                        </ul>
                        {# Gestion de l'utilisateur #}
                        <div class="form-inline"><small>
                            {% if app.user is null %}
                                <a href="{{ path('app_login') }}">Connexion</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ path('register') }}">S'enregistrer</a>
                            {% else %}
                                <i class="fa fa-user"></i>{{ app.user.email }}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ path('app_logout') }}">Déconnexion</a>
                            {% endif %}
                        </small></div>
                    </div>
                </nav>
            {% endblock %}
        </div>
    {% endblock %}

    {# Affichage des messages de notification #}
    {% block flash_message %}
        {# Succès #}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice alert alert-primary" role="alert">{{ message|raw }}</div>
        {% endfor %}
        {# Alerte #}
        {% for message in app.flashes('alert') %}
            <div class="flash-notice alert alert-danger" role="alert">{{ message|raw }}</div>
        {% endfor %}
    {% endblock %}
</header>

<main class="container mt-4 mb-5">
    {% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            {# Gestion de la page d'accueil #}
            {% if route_list[0][0] is same as(currentRoute) %}
                <li class="breadcrumb-item active">{{ route_list[0][1] }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path(route_list[0][0]) }}">{{ route_list[0][1] }}</a></li>
            {% endif %}
            {# Gestion de la page courante #}
            {# Ajout du titre du menu déroulant / sous-menu #}
            {% for name, route in page_list %}
                {% if route is iterable and currentRoute in route %}
                    <li class="breadcrumb-item active">{{ name }}</li>
                {% endif %}
            {% endfor %}
            {# Ajout du titre de la rubrique du menu #}
            {% for index, data in route_list %}
                {% if data[0] is same as(currentRoute) and index > 0 %}
                    <li class="breadcrumb-item active">{{ data[1] }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% endblock %}
    {% block main %}
        {# Page content here #}
    {% endblock %}
    {% block pagination %}
        <nav class="mt-5">
            <ul class="pagination justify-content-center">
                {% for index, data in route_list %}
                    {# On détermine la page courante pour déduire la page précédente et la page suivante #}
                    {% if data[0] is same as(currentRoute) %}
                        {# Si la page précédente existe #}
                        {% if (index - 1) >= 0 %}
                            <li class="page-item"><a class="page-link" href="{{ path(route_list[index - 1][0]) }}">Précédent</a></li>
                        {% endif %}
                        {# Si la page suivante existe #}
                        {% if (index + 1) < route_list|length %}
                            <li class="page-item"><a class="page-link" href="{{ path(route_list[index + 1][0]) }}">Suivant</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endblock %}
</main>

<footer>
    {% block footer %}
        <div class="container">
            <p>Copyright © {{ "now"|date("Y") }} Guillaume HÉNAUD</p>
        </div>
    {% endblock %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>